<div class="container__big-card">
    <div class="big-card__picture">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        height="250px"
       
         alt="isso é uma imagem">
        
    </div>
    <div class="big-card__title">
        <h1>SAIU  a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, beatae. Necessitatibus laboriosam suscipit consequatur, accusamus ducimus amet provident doloremque voluptas voluptate at est. Voluptate corrupti quaerat qui. Nam, est dolorum.</p>
    </div>
</div>
