<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://img.uxcel.com/tags/placeholder-1700655368259-2x.jpg"
        height="250px"
       
         alt="isso é uma imagem">
        
    </div>
    <div class="big-card__title">
        <h1><a href="#">SAIU  a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, beatae.
            Necessitatibus laboriosam suscipit consequatur, accusamus ducimus amet
            provident doloremque voluptas voluptate at est. Voluptate corrupti quaerat
            qui. Nam, est dolorum.
        </p>
    </div>
</div>
