.container__big-card {
    color: #0c0c0c;
    margin-left: 10px;
    margin-right: 70px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__title h1 {
   
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 8px;
}

.big-card__title a {
    color: #0c0c0c;
}

.big-card__description p {
    font-size: 15px;
    font-weight: 400;
    color: rgb(53, 53, 53);
    margin-top: 2px;
    
}

.big-card__photo img {
    width: 100%;
    min-width: 400px;
    border-radius: 5px;
    
}