.container__small-card {
    width: 700px;
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: column;
  
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0px;
    gap: 44px;
}

.small-card__title {
    margin: 0 0 2px 0;
    display: flex;
    color: #202020; 
}

.small-card__title:hover{
    background: linear-gradient(90deg, rgba(206, 5, 106, 0.99) 8.24%, #FF5800 53.94%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
}

.small-card__title h3{
    margin: 5px 0 2px 0;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    
}

.small-card__description {
    margin-top: 0px;
    font-size: 15px;
}

.small-card__description p {
    margin: 0px;
    font-size: 15px
}
.container__small-card-separator {
    margin-top: 5px;
}