.container__small-card {
    width: 300px;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    }

.container__small-card:hover {
    transform: scale(1.05);
}

.small-card__photo {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #ddd;
}

.small-card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.small-card__title h3 {
    font-size: 18px;
    margin: 0px 15px 10px 15px;
    color: #2c2c2c;
}

.small-card__title h3 a {
    text-decoration: none;
    color: inherit;
}

.small-card__title:hover a {
    background: linear-gradient(90deg, rgba(206, 5, 106, 0.99) 8.24%, #FF5800 53.94%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
}

.small-card__description p {
    font-size: 14px;
    color: #444;
    margin: 0px 15px 45px;
}