.container__content {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

.content__text {
    max-width: 50%; 
    margin-right: 20px; 
}

.content__title h1 {
    font-size: 2.5em;
    color: #491d66;
    margin-top: 20px;
    text-align: left; 
    align-items: flex-start;
}

.container__description {
    font-size: 15px;
    line-height: 1.8;
    color: gray;
}

.content__image img {
    max-width: 50%; 
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}