.container__content {
    width: 100%;
    height: 100vh;
    margin: 10px auto;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.container__content img {
    border-radius: 5px;
    width: 80%;
    min-width: 1000px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content__text {
    margin: 0 250px 0 250px;
}

.content__title h1 {
    font-size: 2.5em;
    color: #2a0245;
    margin-top: 20px;
    text-align: center;
}

.container__description {
    width: 500px;
    min-width: 500px;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.8;
    padding: 10px;
}

.container__description p {
    color: gray;
    margin: 0 20px 0 20x;
}