
<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://img.freepik.com/fotos-gratis/fundo-humano-do-aperto-de-mao-do-robo-era-digital-futurista_53876-129770.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"
        cardTitle=" A Revolução da Inteligência Artificial nas Indústrias"
        cardDescripition="A inteligência artificial (IA) continua a dominar o debate tecnológico, e sua influência não se limita apenas à área de software.
          como saúde, manufatura, e até a agricultura estão se beneficiando enormemente da IA. Com algoritmos mais avançados, essas tecnologias estão sendo utilizadas para automatizar tarefas, melhorar diagnósticos e até prever falhas em equipamentos antes que ocorram. A IA, aliada à análise de grandes volumes de dados, está criando um futuro mais inteligente e eficiente.
        Além disso, muitas empresas estão integrando IA para otimizar seus processos, reduzir custos e melhorar a experiência do cliente. As inovações mais recentes prometem transformar ainda mais a forma como trabalhamos e vivemos, com o potencial de criar soluções para problemas complexos que antes pareciam impossíveis de resolver.
        ">
            
        </app-big-card>
    </div>

    <div class="articles__others">

        <app-small-card cardTitle="5G: O Futuro da Conectividade Está Chegando"
        cardDescription="Com velocidades até 100 vezes mais rápidas que o 4G, a nova rede promete revolucionar áreas como realidade aumentada, carros autônomos e Internet das Coisas (IoT)."
        photoCover="https://img.freepik.com/vetores-gratis/fundo-roxo-com-conceito-5g-isometrico_23-2148262310.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"></app-small-card>
        >
        
        <app-small-card cardTitle="Computação Quântica: O Novo Marco da Tecnologia"
        cardDescription="Empresas como Google e IBM estão liderando o caminho, desenvolvendo processadores quânticos que podem resolver problemas em frações de segundo, que levariam séculos para serem resolvidos pelos computadores tradicionais."
        photoCover="https://img.freepik.com/vetores-gratis/fundo-gradiente-de-conexao-de-rede_23-2148880710.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"></app-small-card>

        <app-small-card cardTitle="Cibersegurança: O Desafio da Era Digital"
        cardDescription="As ameaças online estão ficando cada vez mais sofisticadas, o que exige investimentos em novas tecnologias e melhores práticas para proteger informações sensíveis."
        photoCover="https://img.freepik.com/vetores-gratis/tecnologia-de-seguranca-cibernetica-de-vetor-de-fundo-de-protecao-de-dados-em-tom-roxo_53876-136341.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"></app-small-card>
    
    </div>
</div>
