
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1"
        photoCover="https://img.freepik.com/fotos-gratis/fundo-humano-do-aperto-de-mao-do-robo-era-digital-futurista_53876-129770.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"
        cardTitle="A Revolução da Inteligência Artificial nas Indústrias"
        cardDescripition="A inteligência artificial (IA) continua a dominar o debate tecnológico, e sua influência não se limita apenas à área de software. Como saúde, manufatura, e até a agricultura estão se beneficiando enormemente da IA."
      >
      </app-big-card>
    </div>

    <div class="articles__others">

        <app-small-card
        Id="1"
        cardTitle="5G: O Futuro da Conectividade Está Chegando"
        cardDescription="Com velocidades até 100 vezes mais rápidas que o 4G, a nova rede promete revolucionar áreas como realidade aumentada, carros autônomos e Internet das Coisas (IoT)."
        photoCover="https://img.freepik.com/vetores-gratis/fundo-roxo-com-conceito-5g-isometrico_23-2148262310.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"></app-small-card>
        >
        
        <app-small-card
        Id="2"
        cardTitle="Computação Quântica: O Novo Marco da Tecnologia"
        cardDescription="Empresas como Google e IBM estão liderando o caminho, desenvolvendo processadores quânticos que podem resolver problemas em frações de segundo, que levariam séculos para serem resolvidos pelos computadores tradicionais."
        photoCover="https://img.freepik.com/vetores-gratis/fundo-gradiente-de-conexao-de-rede_23-2148880710.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"></app-small-card>

        <app-small-card
        Id="3"
        cardTitle="Cibersegurança: O Desafio da Era Digital"
        cardDescription="As ameaças online estão ficando cada vez mais sofisticadas, o que exige investimentos em novas tecnologias e melhores práticas para proteger informações sensíveis."
        photoCover="https://img.freepik.com/vetores-gratis/tecnologia-de-seguranca-cibernetica-de-vetor-de-fundo-de-protecao-de-dados-em-tom-roxo_53876-136341.jpg?uid=R142512436&ga=GA1.1.972304624.1723201760&semt=ais_hybrid"></app-small-card>
    
    </div>
</div>
