
<app-menu-title></app-menu-title>

<div class="articles__title">
  <h1>Destaques da Semana</h1>
  <p>Confira agora os destaques da semana! As novidades mais impactantes, tendências e oportunidades que você não pode perder!
     Confira agora e fique por dentro!</p>
</div>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1"
        photoCover="https://media.licdn.com/dms/image/v2/D4E22AQG7eRf_kJ6r0w/feedshare-shrink_800/B4EZX3C8NIHgAg-/0/1743606498805?e=1746662400&v=beta&t=p6yqaPzCc8FNz02HaHjEGU1CC0YYNlxdeLZv7qhb6Aw"
        cardTitle="Agentes de IA: Otimizando Interações e Impulsionando Resultados"
        cardDescription="Você sabia que os agentes e superagentes de inteligência artificial estão revolucionando a forma como empresas e usuários interagem com a tecnologia? Com a capacidade de compreender necessidades e preferências, esses sistemas oferecem respostas mais rápidas, personalizadas e eficientes, otimizando processos e proporcionando uma experiência mais intuitiva.
        "
      >
      </app-big-card>
    </div>

    <div class="articles__others">

        <app-small-card
        Id="1"
        cardTitle="IA no Setor Financeiro: Transformação e Desafios"
        cardDescription="Bancos com receita entre US$500 milhões e US$5 bilhões estão apostando na inteligência artificial para impulsionar inovação e eficiência. A tecnologia tem o potencial de transformar operações, otimizar a experiência do cliente e aumentar a competitividade no setor."
        photoCover=""></app-small-card>
        
        
        <app-small-card
        Id="2"
        cardTitle="IA no Varejo e Bens de Consumo: O Caminho para 2025"
        cardDescription="Em um mercado digital cada vez mais competitivo, os líderes do setor de varejo e bens de consumo reconhecem a urgência de adotar a inteligência artificial. A tecnologia se tornou essencial para otimizar operações, personalizar experiências e impulsionar a eficiência.        "
        photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Findustry-649x364&w=1920&q=75"></app-small-card>

        <app-small-card
        Id="3"
        cardTitle="A Era dos Agentes de IA: Transformação com Estratégia"
        cardDescription="A próxima grande evolução da inteligência artificial já está em curso: a era dos agentes. Segundo nossa pesquisa Avanade Trendlines: AI Value Report 2025, 82% dos líderes brasileiros temem perder vantagem competitiva se não adotarem a IA rapidamente."
        photoCover="https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Favanade-homepage-full-bleed-content-carousel-3-1728x740&w=1080&q=75"></app-small-card>
    
    </div>
</div>
