<div class="container__menu-bar">
    <div class="menu-bar__logo">
    
    </div>
    <div class="menu-bar__menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Sobre Mim</a></li>
            <li><a href="">Serviços</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </div>

    <div class="menu-bar__search-content">
        <input type="text" placeholder="Busque Aqui" class="menu-bar__search">
        <button class="menu-bar__button">Buscar</button>
    </div>
</div>

