<div class="container__menu-bar">
    <div class="menu-bar__logo">
        <img src=".https://www.avanade.com/_next/image?url=https%3A%2F%2Fdigitalassets.avanade.com%2Fapi%2Fpublic%2Fcontent%2Favanade-logo-color1%3Fv%3D20cee9df&w=3840&q=75" alt="Logotipo">

    </div>
    <div class="menu-bar__menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Sobre Mim</a></li>
            <li><a href="">Serviços</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </div>

    <div class="menu-bar__contact-content">
        <button class="menu-bar__button">Entre em Contato Conosco!</button>
    </div>
</div>

