<div class="container__menu-bar">
    <div class="menu-bar__logo">
            <img src="https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000118110/91bd0d87-7e05-40a5-a0a1-e43b5720b90b.png" alt="Logotipo">
    </div>
    <div class="menu-bar__menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="https://www.avanade.com/pt-br/industry">Industrias</a></li>
            <li><a href="https://www.avanade.com/pt-br/services">Serviços</a></li>
            <li><a href="https://www.avanade.com/pt-br/insights">Insights</a></li>
            <li><a href="https://www.avanade.com/pt-br/career">Carreira</a></li>
            <li><a href="https://www.avanade.com/pt-br/about">Sobre</a></li>
        </ul>
    </div>

    <div class="menu-bar__contact-content">
        <button class="menu-bar__button">Entre em Contato Conosco!</button>
    </div>
</div>

