.container__menu-bar{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    background-color:transparent;
    background-color: #ffffff;
    padding: 5px;
}

.container__menu-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 0 47.2px;
  padding: 0 24px;
}

.container__menu-bar ul li {
    color: #333;
    font-weight: 700;
    margin-right: 35px;
    display: inline-block; 
    background-color: transparent; 
    border: none; 
}

.container__menu-bar ul li a {
    color: #333;
    font-weight: 700;
    margin-right: 15px;
    display: inline-block; 
    background-color: transparent; 
    border: none; 
}

.container__menu-bar ul li a:hover {
    background: linear-gradient(90deg, rgba(206, 5, 106, 0.99) 8.24%, #FF5800 53.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
}

.menu-bar__button {
    height: 35px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 28px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: 700;
    margin-right: 50px;
}
.menu-bar__button:hover{
    background: linear-gradient(90deg, rgba(206, 5, 106, 0.99) 8.24%, #FF5800 53.94%);
    transition: background 0.3s ease;
}